.iconLink {
    span {
        font-family: Mulish;
        font-size: 12px;
        height: 18px;
        width: 18px;
        color: var(--white);
        background-color: var(--red);
        border: 1px solid var(--white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: -4px;
    }
}
