@import "../../styles/mixins";

.asideSection {
    width: 223px;
    background-color: var(--white);
    padding: 30px 32px 40px;
    position: fixed;
    top: 84px;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    @include md-screen {
        height: 63px;
        width: 100%;
        border-top: 1px solid var(--light-grey);
        padding: 12px 24px;
        top: auto;
    }
    .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include md-screen {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            & > :last-child {
                display: none;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 28px;
            @include md-screen {
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        .mainMenuList {
            &__item {
                &:nth-child(4) {
                    padding-top: 32px;
                    padding-bottom: 28px;
                    @include md-screen {
                        padding: 0;
                    }
                }
            }
        }
        .menuList {
            padding-bottom: 58px;
            @include md-screen {
                display: none;
            }
        }
        .subList {
            padding-bottom: 104px;
            gap: 23px;
            @include md-screen {
                display: none;
            }
        }
        h3 {
            padding-bottom: 30px;
            @include md-screen {
                display: none;
            }
        }
    }
}
