:root {
    --white: #f2f2f2;
    --transparent-white: #f2f2f25a;
    --black: #19202c;
    --transparent-black: #19202c66;
    --grey: #898989;
    --light-grey: #c2c2c2;
    --search-bg: #ebebeb;
    --red: #ff0000;
    --blue: #2196f3;
}
