@import "../../../../styles/mixins";

.videoList {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    @include md-screen {
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}
